@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    overflow-y: hidden;
}


.wrapper{
    margin: auto;
    width: 90%;
}

/* Hero Block */

/* Navigation  and Logo*/

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 11vh;
    position: relative;
}

.hamburger_menu{
    display: none;
}

.navigation .menu {
    width: 100%;
}

.navigation_items{
    display: inline-flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
}

.navigation_explore_shop{
 display: flex;
 justify-content: space-around;
 width: 20rem;
}

.navigation_items li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.7rem;
}

.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25rem;
    position: absolute;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
}

.logo h1{
    letter-spacing: 0.25rem;
    font-size: 2.8rem;
}


/* Hero image */

.hero_img{
    background-image: url(./Images/Rectangle.jpg);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_text{
    z-index: 1;
    color: white;
    line-height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero_text .img_header{
    font-size: 5rem;
}

.hero_text .img_text{
font-size: 2rem;
}

.hero_text a{
    text-decoration: none;
    color: white;
    font-size: 3.5rem;
    margin-top: 5rem;
}

.hero-block_text{
    text-align: center;
    margin-top: 4rem;
    line-height: 5rem;
}

.hero-block_text h2{
    font-size: 4rem;
    font-weight: 700;
}

.hero-block_text p{
    color: #A0A0A0;
    font-size: 2rem;
    font-weight: 500;
}

.hero-block_text a{
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
}

/* products_block */

.products_block{
    margin-bottom: 10rem;
}

.desk_samples{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.desk_samples figure {
    text-align: center;
    line-height: 5rem;
}

.desk_samples figure figcaption{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.desk_samples figure a{
    text-decoration: none;
    font-size: 2rem;
    color: black;
    font-weight: bold;
}

.desk_samples figure img{
    width: 100%
}

.feature_products{
    margin-top: 8rem;
}

.feature_header{
    text-align: center;
    margin-bottom: 5rem;
    line-height: 6rem;
    
}
.feature_header h3{
    font-size: 3rem;
    font-weight: bolder;
}
.feature_header p{
    color: #A0A0A0;
    font-size: 2rem;
    font-weight: 500;
}

.feature_carusel{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}


.feature_carusel span{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 1rem;
    background-color: #A0A0A0;
    margin-bottom: 5rem;
}

.feature_img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #A0A0A0;
}

/* hero_block_two */

.hero_block_two{
    background-image: url(./Images/hero_two.jpg);
    height: 60rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 550px){

    .navigation{
        justify-content: flex-end;
    }

    .navigation .menu {
        width: 0;
    }
    .navigation_items {
        display: flex;
        flex-direction: column;
        padding-bottom: 1.5rem;
        align-items: center;
        position: absolute;
       visibility: hidden;
       opacity: 0;
        transform: translateX(102%);
        transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    .active{
        position: absolute;
        background-color: white;
        z-index: 30;
        top:10vh;
        right:-2.2rem;
        width: 100vw;
        height: 10rem;
        visibility: visible;
       opacity: 1;
      transform: translate(0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


    .hamburger_menu{
        display: block;
        position: relative;
        top: 0.5rem;
        right: 6rem;
        z-index: 1;
    }

    .hamburger_menu input{
        display: block;
        width: 5rem;
        height: 3rem;
        position: absolute;
        top: 0.1rem;
        right: -5rem;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }

    .hamburger_menu span{
        display: block;
        width: 5rem;
        height: 0.3rem;
        margin-bottom: 5px;
        position: relative;
        
        background: black;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 0px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }

    .hamburger_menu span:nth-last-child(3)
    {
         transform-origin: 0% 0%;
    }

    .hamburger_menu span:nth-last-child(1)
    {
     transform-origin: 0% 100%;
     }

     .hamburger_menu input:checked ~ span:nth-last-child(1)
     {
      opacity: 1;
      transform: rotate(-45deg) translate(-3px, 5px);
      background: #232323;
     }
     .hamburger_menu input:checked ~ span:nth-last-child(3)
     {
      opacity: 1;
      transform: rotate(45deg) translate(-7px, -12px);
      background: #232323;
     }

     .hamburger_menu input:checked ~ span:nth-last-child(2)
     {
       opacity: 0;
       transform: rotate(0deg) scale(0.2, 0.2);
     }
 .logo{
   margin-left: 0;
   margin-right: 0;
   left: 0;
   right: 0;
    }
    .hero_text .img_header{
        font-size: 3.5rem;
        
    }
    .hero_text a{
        font-size: 2.5rem;
    }
}